/* You can add global styles to this file, and also import other style files */

body {
  background-color: #ffffff;
  font-family: 'Tinos', sans-serif !important;
}
.text-poppy-red {
  color: #ef5350 !important;
}
.btn-poppy-red {
  background-color: #ef5350 !important;
}
.bg-poppy-red {
  background-color: #ef5350 !important;
}
.spacer {
  width: 10%;
  height: 15px;
  margin-top: 20px;
  background: #f7b70b;
}
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';
