.carousel-indicators .active {
  background-color: white;
}
.carousel-indicators li {
  background-color: burlywood;
}
.carousel-indicators {
  position: absolute;
  bottom: 120px;
  margin: 0;
  left: 0;
  right: 0;
  width: auto;
}

.form-control {
  background-color: #f8f8f8;
}
.form-control:focus {
  background-color: #e0e0e0;
  border-color: #f7b70b;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgb(247, 183, 11);
}

.card:hover{
  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);

  border-width: 1px;
  border-color: #f7b70b;
}
.btn-main {
  color: white;
  border: 1px solid;
}
.btn-main:hover {
  background-color: white;
  color: #f7b70b;
  border: 0px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rg
}


.appear-discounts {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear-discounts.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.appear-contacts {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear-contacts.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}
.appear-text {
  transition: all 0.8s;
  opacity: 0;
}

.appear-text.inview {
  opacity: 1;
  transition-delay: 0.3s;

}


