<div>
  <div class="m-5 ">
    <div class="container  ">
      <h2 class="h1 fw-bold text-uppercase appear-text">УСЛУГИ</h2>
      <div class="spacer mb-3"></div>
      <a class="appear-text">Наша компания предоставляет огромный спектр услуг, от литья изделий до 3D моделирования.</a>
    </div>

  </div>
  <div class="bg-image container-fluid" style="background-image:
  linear-gradient(
          hsla(232,88%,16%,0.6),
          hsla(228,83%,16%,0.6)
        ),url('https://images.unsplash.com/photo-1612150354898-a69132eb7c67?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80')">
    <div class="container">
      <div class="row p-4 mb-5 appear-text">
        <div class="col-md-4 col-lg-4 ">
          <div class="text-white mb-3">
            <h5 class="text-uppercase font-weight-bold mb-0">Литье</h5>
          </div>
          <div class="mb-4">
            <img class=" img-fluid flex-shrink-0"
                 src="https://cdn-ru.bitrix24.ru/b21930224/landing/0f1/0f1a5fcaedd5858b4e1e80f5e86c4cff/FYN09ZJI4UNMUA3_1x.jpg">
          </div>
          <div style="color: #e6e6e6"><p>Если вы начинающий ювелир или ювелирная компания, мы готовы сделать
            для вас
            литье.</p></div>
          <div class="">
            <a class="btn btn-dark" href="#" target="_self">Подробнее</a>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="text-white mb-3">

            <h5 class="text-uppercase mb-0 font-weight-bold ">3D Моделирование</h5>
          </div>
          <div class="mb-4">
            <img class="img-fluid flex-shrink-0"
                 src="https://cdn-ru.bitrix24.ru/b21930224/landing/c5a/c5ac154a50eb6b16b4102bdb4a2c1502/rhino-3d-jewelry-sketchfab-editor-lighting_1x.jpg">
          </div>
          <div style="color: #e6e6e6"><p>Мы можем сделать для вас 3D модель по вашим указаниям. В услугу не входит
            выращивание
            восковой детали.</p></div>
          <div class="col d-flex">
            <a class="btn btn-dark" href="#">Подробнее</a>
          </div>
        </div>
        <div class="col-md-4 col-lg-4">
          <div class="text-white mb-3">
            <h5 class="text-uppercase mb-0 font-weight-bold">Ювелирные изделия</h5>
          </div>
          <div class="mb-3">
            <img class="img-fluid" src="https://cdn-ru.bitrix24.ru/b21930224/landing/30b/30bf113430d523347fd86bd2d282a892/jewelry-making-tools_1x.jpg">
          </div>
          <div style="color: #e6e6e6">
            Вы можете заказать у нас ювелирное изделие из тех, что у нас есть в списке.
            Мы изготовим его для вас с
            самого начала.&nbsp;
          </div>
          <div class="">
            <a class="btn btn-dark" href="#">Подробнее</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
