

<div class="d-md-flex half j justify-content-center">

  <div class="contents order-2 order-md-1">

    <div class="container">
      <div class="row my-5 justify-content-center">
        <div class="col-6">
          <div class="mb-5">
            <h3>Вход</h3>
          </div>
          <form (submit)="userAuthClick()">
            <div class="form-group first">
              <input type="text" class="form-control "  [(ngModel)]="login"  placeholder="Логин" name="login">

            </div>
            <div class="form-group last mb-3">
              <input type="password" class="form-control"  [(ngModel)]="password"  placeholder="Пароль" name="password">

            </div>

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Запомните меня</label>

            </div>

            <a href="#" class="forgot-pass">Забыл пароль</a>
            <div class="row mx-auto mt-3">
            <input type="submit" value="Войти" class="btn   btn-warning">
           </div>
            <span class="d-block text-center my-4 text-muted">&mdash; или &mdash;</span>

            <div class="social-login">
              <a href="#" class="facebook btn d-flex justify-content-center align-items-center">
                <span class="icon-facebook mr-3"></span> Войти с помощью Facebook
              </a>
              <a href="#" class="twitter btn d-flex justify-content-center align-items-center">
                <span class="icon-twitter mr-3"></span> Войти с помощью  Twitter
              </a>
              <a href="#" class="google btn d-flex justify-content-center align-items-center">
                <span class="icon-google mr-3"></span> Войти с помощью  Google
              </a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
